body, h1 {font-family: "Bree Serif", Arial, Helvetica, sans-serif}
body, html {height: 100%; margin: 0}
::-webkit-scrollbar {width: 0.5em}
::-webkit-scrollbar-thumb {background: rgba(44, 37, 27, 0.3); border-radius:8px}
::-webkit-scrollbar-track {background: rgba(44, 37, 27, 0.1)}
::selection {
  color: #fff;
  background: #111;
}
.main-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.main-bg-img, .bg-img {
  border: 4px solid #fff;
  background-image: url("images/architecture-atomium-15950856.jpg");
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.main-bg-img {
  min-height: 400px;
  height: 100%;
}
.logo-container {
  position: fixed !important;
  vertical-align: middle;
  align-items: center;
  top: 0 !important;
  display: flex;
  z-index: 3;
}
.logo-container .logo-text {
  background: #fff;
}
img.logo {
  width: 100%;
  height: auto;
  max-width: 40px;
  margin: 0;
  margin-right: 5px;
}
.jdb-display-container#top > .jdb-display-middle {
  background: rgba(0, 0, 0, 0.4) !important;
  border-radius: 8px;
  padding: 16px;
  max-width: 400px;
  width: 100%;
}
.main-content {
  margin: auto;
  width: 100%;
  max-width: 1600px;
}
.main-content .jdb-row-padding {
  display: flex;
}
.main-content .jdb-row-padding .jdb-col .as-bg {
  background-image: url("images/groupe-ensemble.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 400px;
}